 /* kunoichi colour scheme */
:root { 
  --pagecolour: #562457;  
  --maintext: #ffffff;  
  --faded: #ba68c8; 
  --highlight: #ffa500; 
  --lowlight: #bbbbbb; 
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
